.filters
{
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: #484848;
    text-align: left;
    
}


.filters button
{
    background-color:  #FF5A5F;
    color:  #FFFFFF;
    border: none;
    border-radius: 4px;
    width: 55%;
    height: 48px;
    font-size: 18px;
    /*transform: translate(25px, 25px);*/
    transform: translateX(110px);
    position: absolute;
    left: 650px;
    width: 20%;
    
    
    
}
h2
{
    font-size:16px;
    margin-top: 25px;
}
h3
{
    font-weight:600;
    margin-top: 5px;
}
h4
{
    font-weight: 400;
    margin-top: 5px;
}
.locations h3, .locations h4
{
    margin-left: 25px;
}
.amenities h3, .amenities h4
{
    margin-left: 25px;
}
.locations
{
    
    padding-left: 0px;
    position: absolute;
    

}
.amenities
{
    margin-left: 0px;
    position: absolute;
    left: 325px;

}
.locations .popover
{
    list-style: none;
    margin-top: 13px;
    border: 1px solid #DDDDDD;
    padding: 10px;
    padding-left: 25px;
    background-color: #FAFAFA;
    opacity: 0;
    transition: all 1s;
}

.amenities .popover
{
    list-style: none;
    margin-top: 13px;
    border: 1px solid #DDDDDD;
    padding: 10px;
    padding-left: 25px;
    background-color: #FAFAFA;
    opacity: 0;
    transition: all 1s;
    
}
span{
    display: block;
    margin-top: 6px;
    padding-left: 20px;
}


.locations .popover:hover , .amenities .popover:hover
{
    opacity: 1;
    
   
}